<div class="hero-foot is-light">
    <footer class="footer hero is-light padding-1rem">
        <div class="container">
            <p class="content has-text-centered"><%- copyright %></p>
        </div>
    </footer>
</div>