<div class="hero-foot is-light">
    <footer class="footer hero is-light padding-1rem">
        <div class="container">
            <p class="has-text-danger">提示：站点正在测试中，站内文章均属于测试内容。</p>
            <p class="content has-text-centered"><%- copyright %></p>
        </div>
    </footer>
</div>