<title><%= title %></title>
<meta name="author" content="<%= author %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords.join(',')%>">
<link rel="stylesheet" href="/common.css">
<!-- https://github.com/jgthms/bulma -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<!-- https://github.com/daneden/animate.css -->
<link rel="stylesheet" href="/animate.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">