<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="https://lqzhgood.github.io/bulma-docs-cn/images/bulma-type-white.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item <%= path==='/article' ? 'is-active' : '' %>" href="/article">
                        目录
                    </a>
                    <a class="navbar-item <%= path==='/donate' ? 'is-active' : '' %>" href="/donate">
                        捐赠
                    </a>
                    <a class="navbar-item <%= path==='/about' ? 'is-active' : '' %>" href="/about">
                        关于
                    </a>
                    <span class="navbar-item">
                          <a class="button is-small">
                            <span class="icon is-small">
                              <i class="fab fa-github"></i>
                            </span>
                            <span>GitHub</span>
                          </a>
                        </span>
                </div>
            </div>
        </div>
    </nav>
</div>