<!DOCTYPE html>
<html website="<%= host %>" date="<%= date %>">
<head>
    <% include ../template/head %>
</head>
<body>
<!-- Welcome to <%= host %> -->
<section class="hero is-light is-bold is-fullheight">
    <div class="hero-head">
    <% include ../template/header %>
    </div>
    <div class="hero hero-body is-block">
        <div class="content">
            <h3 class="subtitle animated fadeInLeft">关于我</h3>
            <p class="animated fadeInRight">
                93年降落在1个小山村，享受过9年义务教育的优待。<br/>
                3年高中生活彻底修复了我的3观。<br/>
                为时不长的大学生活对我的影响几乎为0。
            </p>
            <h3 class="subtitle animated fadeInLeft delay-1s">装备</h3>
            <ul class="animated fadeInRight delay-1s">
                <li><i class="fab fa-apple padding-right-half"></i>MacBook</li>
                <li><i class="fas fa-mobile padding-right-half"></i>Samsung S8+</li>
                <li><i class="fas fa-mouse-pointer padding-right-half"></i>无名氏</li>
                <li><i class="fas fa-keyboard padding-right-half"></i>无名氏</li>
            </ul>
            <h3 class="subtitle animated fadeInLeft delay-2s">兴趣</h3>
            <ol class="animated fadeInRight delay-2s">
                <li>代码不断</li>
                <li>单曲循环</li>
                <li>喜剧影片</li>
                <li>偶尔游戏</li>
            </ol>
            <h3 class="subtitle animated fadeInLeft delay-3s">找到我</h3>
            <ol class="animated fadeInRight delay-3s">
                <li><i class="fas fa-phone-volume padding-right-half"></i><s>保密</s></li>
                <li><i class="fab fa-zhihu padding-right-half"></i><s>很少使用</s></li>
                <li><i class="fab fa-weibo padding-right-half"></i><s>很少动用</s></li>
                <li><i class="fab fa-qq padding-right-half"></i><s>很少动用</s></li>
                <li><i class="fab fa-weixin padding-right-half"></i>qc603803799<sup class="hero is-warning is-inline">需要备注？</sup></li>
                <li><i class="fab fa-twitter padding-right-half"></i><s>很少使用</s></li>
                <li><i class="fab fa-facebook padding-right-half"></i><s>很少使用</s></li>
                <li><i class="fas fa-map-pin padding-right-half"></i>中国·成都</li>
            </ol>
            <h3 class="subtitle animated fadeInLeft delay-4s">关于博客</h3>
            <p class="animated fadeInRight delay-4s">
                博客使用
                <a class="tag" target="_blank" href="https://nodejs.org"><i class="fab fa-node-js padding-right-half"></i>NODEJS</a>+
                <a class="tag" target="_blank" href="https://koajs.com"><i class="fab fa-korvue padding-right-half"></i>KOA</a>+
                <a class="tag" target="_blank" href="http://ejs.co"><i class="fab fa-html5 padding-right-half"></i>EJS</a>+
                <a class="tag" target="_blank" href="https://bulma.io"><i class="fab fa-css3 padding-right-half"></i>BULMA</a>
                搭建，站内文章均使用
                <i class="fab fa-markdown padding-right-half"></i>Markdown书写。
                <br/>
                站内静态图像托管于
                <a class="has-text-link" href="https://i.loli.net">SM.MS&nbsp;&nbsp;图床</a>。
                <br/>
                如果你遇到界面样式错乱问题，请使用
                <a class="link-color" target="_blank" href="https://baike.baidu.com/item/%E7%8E%B0%E4%BB%A3%E6%B5%8F%E8%A7%88%E5%99%A8">
                    <i class="fab fa-internet-explorer"></i>
                    现代浏览器
                </a>
                进行访问。
            </p>
        </div>
    </div>
</section>
</body>
</html>